---
title: "Jira Importer Research"
author: Holly Reynolds
author_gitlab: hollyreynolds
categories: unfiltered
image_title: '/images/blogimages/jira-importer-blog-post.png'
description: "Senior Product Designer Holly Reynolds is seeking participants for research surrounding importing Jira issues."
tags: features, design, UX, developer survey, research
cta_button_text: 'Survey: Tell us about your experience importing issues to GitLab' # optional
cta_button_link: 'https://gitlab.fra1.qualtrics.com/jfe/form/SV_0ibQCpttFdpTjM1' # optional
twitter_text: "Working with multiple DevOps applications including Jira and GitLab? Take the survey to help improve GitLab's Jira importer!"
---

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
This blog post is [Unfiltered](/handbook/marketing/blog/unfiltered/#legal-disclaimer)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

Working with multiple DevOps applications including Jira and GitLab? Looking to consolidate to or test drive GitLab with your own existing Jira issues? We are researching ways to provide options for importing issues from Jira into GitLab and need your help!

**Problem Overview**
We believe our [Project Management](https://about.gitlab.com/solutions/agile-delivery/) users need a way to easily transfer existing issues from Jira into GitLab beyond what's possible with CSV exports. We want to dive deeper into understanding what will provide the most value for these users in this import process from the start and what their expectations are for this experience.

**Our recruiting Challenge**
This is a bit of a unique group we're seeking feedback from in that a specific persona may not always apply. For example, both a [Systems Admin](https://about.gitlab.com/handbook/marketing/strategic-marketing/roles-personas/#sidney-systems-administrator) or a [DevOps Engineer](https://about.gitlab.com/handbook/marketing/strategic-marketing/roles-personas/#devon-devops-engineer) could be responsible for helping their team transition from Jira to GitLab. We'd like to hear from anyone with issues currently in Jira that would like to import them into GitLab via an API.
